#!/usr/bin/env bash

alias src="source ~/.zshrc"

#################################################
## TMUX
#################################################
alias tmc="tmux new -s"
alias tma="tmux attach -t"
alias tmd="tmux detach"
alias tmk="tmux kill-session -t"
alias tml="tmux list-sessions"
alias tms="tmux source-file ~/.tmux.conf"

#################################################
## GIT
#################################################
alias gis="git status -s"
alias gic="git checkout"
alias gip="git remote prune origin"
alias gil="git log"
alias gilll="git log --graph --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %C(white bold)%s%Creset %C(white dim)(by %an %ar)%Creset' --all"
alias gir="git reset HEAD^"
alias gib="git branch --sort=-committerdate"
alias gibb="git branch"
alias gifp="git push -f origin HEAD"
alias gisave="git add .; git commit -m wip"

#################################################
## TOOLS
#################################################
alias ..="cd .."
alias rr="rmtrash"
alias s="subl"
alias add="subl -a"

alias search="find * | grep -i"
alias searchin="fgrep --exclude-dir=.meteor --exclude-dir=.git -irn"
alias psa="ps xw | grep"
alias untar="tar xvzf"
alias genv="env | grep"
unalias ls >/dev/null 2>/dev/null
alias ls="ls -lah --color"
alias vim_install="vim +PluginInstall +qall"

#################################################
## HEROKU
#################################################
alias h="heroku"

#################################################
## RAILS
#################################################
# alias rs="script/server"
# alias rc="bundle exec rails console"
# alias rsidekiq="bundle exec sidekiq -C config/sidekiq.yml"
# alias rsidekiq_pool="bundle exec sidekiq-pool config/sidekiq-pool.yml"
# alias rmigrate="bundle exec rake db:migrate"
# alias rmigrate_rollback="bundle exec rake db:rollback"
# alias rmigrate_test="bundle exec rake db:migrate RAILS_ENV=test"
# alias rmigrate_test="mysql md_test < db/structure.sql"
# alias rreset="rake db:reset"
# alias rtest="bundle exec spring rspec --profile --"

alias postgres_start="pg_ctl -D /usr/local/var/postgres start"
alias postgres_stop="pg_ctl -D /usr/local/var/postgres stop"

alias gatekeeper_disable="sudo spctl --master-disable"
alias gatekeeper_enable="sudo spctl --master-enable"

#################################################
## BOOKMARKS
#################################################
alias bin="cd ~/bin"
alias opt="cd ~/opt"
alias repos="cd ~/repos"
alias notes="cd ~/repos/notes"
alias dot="cd ~/repos/dotfiles-mac"
alias dropbox_home="cd ~/Dropbox"
alias sublime_home="cd \"$HOME/Library/Application Support/Sublime Text 3\""
alias code="$VSCODE_HOME/code"

#################################################
## UNALIAS OH-MY-ZSH ALIASES
#################################################
unalias '...' >/dev/null 2>/dev/null
unalias '....' >/dev/null 2>/dev/null
unalias '.....' >/dev/null 2>/dev/null
unalias '......' >/dev/null 2>/dev/null
unalias 1 >/dev/null 2>/dev/null
unalias 2 >/dev/null 2>/dev/null
unalias 3 >/dev/null 2>/dev/null
unalias 4 >/dev/null 2>/dev/null
unalias 5 >/dev/null 2>/dev/null
unalias 6 >/dev/null 2>/dev/null
unalias 7 >/dev/null 2>/dev/null
unalias 8 >/dev/null 2>/dev/null
unalias 9 >/dev/null 2>/dev/null
unalias md >/dev/null 2>/dev/null
unalias rd >/dev/null 2>/dev/null
unalias lsa >/dev/null 2>/dev/null
unalias l >/dev/null 2>/dev/null
unalias ll >/dev/null 2>/dev/null
unalias la >/dev/null 2>/dev/null
unalias history >/dev/null 2>/dev/null
unalias _ >/dev/null 2>/dev/null
unalias afind >/dev/null 2>/dev/null
# unalias grep

#################################################
## FUNCTIONS
#################################################

function ssh-login-tesonet {
  ssh-add ~/.ssh/tesonet_rsa
}

function ssh-login-github {
  ssh-add ~/.ssh/github_rsa
}

function ssh-login-kubilas {
  ssh-add ~/.ssh/kubilas_rsa
}
