<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favorites Root</key>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-4003264883442415490</integer>
				<key>name</key>
				<string>localhost</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.15</string>
				<key>id</key>
				<integer>2468446836350379912</integer>
				<key>name</key>
				<string>people</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>vinted_people</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>hx-sandbox-xx1.vinted.net</string>
				<key>id</key>
				<integer>-7971589072631467661</integer>
				<key>name</key>
				<string>sandbox</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>vinted_de_sb</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.3</string>
				<key>id</key>
				<integer>7008817371605175179</integer>
				<key>name</key>
				<string>vinted_cz</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>cz_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.2</string>
				<key>id</key>
				<integer>7860783810651220364</integer>
				<key>name</key>
				<string>vinted_de</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>de_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.4</string>
				<key>id</key>
				<integer>-9146303249143236734</integer>
				<key>name</key>
				<string>vinted_de_babies</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>debabies_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.5</string>
				<key>id</key>
				<integer>-2294277973488772730</integer>
				<key>name</key>
				<string>vinted_es</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>vinted_es</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.6</string>
				<key>id</key>
				<integer>8916106920637589113</integer>
				<key>name</key>
				<string>vinted_fr</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>fr_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.8</string>
				<key>id</key>
				<integer>3394129759156783740</integer>
				<key>name</key>
				<string>vinted_lt</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>lt_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.9</string>
				<key>id</key>
				<integer>3253099841580835730</integer>
				<key>name</key>
				<string>vinted_lt_babies</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ltbabies_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.10</string>
				<key>id</key>
				<integer>-5209427186441079932</integer>
				<key>name</key>
				<string>vinted_nl</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>vinted_nl</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.11</string>
				<key>id</key>
				<integer>-3321720649673076343</integer>
				<key>name</key>
				<string>vinted_pl</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>pl_mysql</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>10.0.9.13</string>
				<key>id</key>
				<integer>-1960124180569331329</integer>
				<key>name</key>
				<string>vinted_us</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>janitor.vinted.net</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jkazakauskas</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>com_mysql</string>
			</dict>
		</array>
		<key>IsExpanded</key>
		<true/>
		<key>Name</key>
		<string>FAVORITES</string>
	</dict>
</dict>
</plist>
